$bgcolor: #222222;
$request-text-color: white;
$modal-text-color: white;
$main-text-color: gray;
$well-bg-color: #2D2D2D;
$declined-red: #ff2727;
$accepted-green: #46af2c;
$pending-yellow: #97BA24;
$border-color: gray;
$audiowide:'Audiowide', cursive;
$exo: 'Exo 2', sans-serif;
//$pending-gray:;