$bgcolor: #222222;
$request-text-color: white;
$modal-text-color: white;
$main-text-color: gray;
$well-bg-color: #2D2D2D;
$declined-red: #ff2727;
$accepted-green: #46af2c;
$accepted-green-pressed: #368722;
$pending-yellow: #97BA24;
$border-color: gray;
$audiowide:'Audiowide', cursive;
$open-sans:'Open Sans', sans-serif;
$exo: 'Exo 2', sans-serif;
$off-white: #e7e7e7;
$gray-text:#555555;
//$pending-gray:;