body {
  background-color: $bgcolor;
  color: $main-text-color;
}

html {
  overflow-x: hidden;
}

a {
  color: $request-text-color;
  text-decoration: none;
}
.well {
  background-color: $well-bg-color;
  border: none;
}

.navbar {
  background-color: $well-bg-color;
  border: none;
}

.navbar-default .navbar-nav li a {
  color:white;
}

.navbar-default .navbar-brand {
  color:white;
}

.footer {
  background-color: $well-bg-color;
  border: none;
}

.thumbnail {
  background-color: $well-bg-color;
  border: none;
}

a:hover {
  color: $request-text-color;
  text-decoration: none;
}

a:focus {
  outline: none;
  outline-offset: 0px;
}

.thumbnail .caption {
  color: $request-text-color;
  padding:2px;
}

.modal-content {
  background-color: $bgcolor;
}

.footer-style p {
  text-align: center;
}

.section-header {
  margin-bottom: 40px;
  color:white;
  font-family: $open-sans;
  font-size: 3em;
}

.modal-header {
  border-color: $border-color;
  color: $modal-text-color;
}

.modal-sub-header {
  color: $modal-text-color;
}

.modal-footer {
  border: none;
}

.menu-logo {
  font-family: $audiowide;
  color:white;
  font-size: 1.5em;
}

