.summary {
   margin-left: 10px;
}

.game-header {
  color: $modal-text-color;
  margin-bottom: 15px;
  margin-left: 10px;
}

.add-game-button {
  float:right;

  &:active,&:hover,&:focus, &:visited {
    background-color: $accepted-green-pressed;
    border:none;
    color:white;
  }
}

.game-item {
  padding: 10px;
  cursor: pointer;
}

.game-container {
  max-width: 100px;
  height: 190px;
  cursor: pointer;
}

.game-browser {
  margin-bottom: 50px;
}
