.summary {
   margin-left: 10px;
}

.game-header {
  color: $modal-text-color;
  margin-bottom: 15px;
  margin-left: 10px;
}

.add-game-button {
  float:right;
}

.game-item {
  padding: 10px;
}

.game-container {
  max-width: 100px;
  height: 160px;
}

.game-browser {
  margin-bottom: 50px;
}
