body {
  background-color: #222222;
  color: gray; }

html {
  overflow-x: hidden; }

a {
  color: white;
  text-decoration: none; }

.well {
  background-color: #2D2D2D;
  border: none; }

.navbar {
  background-color: #2D2D2D;
  border: none; }

.navbar-default .navbar-nav li a {
  color: white; }
  .navbar-default .navbar-nav li a:active {
    background-color: #2D2D2D;
    color: white; }
  .navbar-default .navbar-nav li a:visited {
    background-color: #2D2D2D;
    color: white; }
  .navbar-default .navbar-nav li a:focus {
    color: #555555;
    background-color: #e7e7e7; }
  .navbar-default .navbar-nav li a:hover {
    color: #555555;
    background-color: #e7e7e7; }

.navbar-default .navbar-brand {
  color: white; }
  .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:visited {
    color: white; }

.footer {
  background-color: #2D2D2D;
  border: none; }

.thumbnail {
  background-color: #2D2D2D;
  border: none; }

.btn:hover {
  color: white; }

a:hover {
  color: white;
  text-decoration: none; }

a:focus {
  outline: none;
  outline-offset: 0px; }

.thumbnail .caption {
  color: white;
  padding: 2px; }

.modal-content {
  background-color: #222222; }

.footer-style p {
  text-align: center; }

.section-header {
  margin-bottom: 40px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 3em; }

.modal-header {
  border-color: gray;
  color: white; }

.modal-sub-header {
  color: white; }

.modal-footer {
  border: none; }

.menu-logo {
  font-family: "Audiowide", cursive;
  color: white;
  font-size: 1.2em; }
  .menu-logo:active, .menu-logo:hover, .menu-logo:focus, .menu-logo:visited {
    color: white; }

.nav-search {
  padding-top: 10px; }
  .nav-search:active, .nav-search:hover, .nav-search:focus, .nav-search:visited {
    color: white;
    background-color: #2D2D2D; }

.welcome-message {
  color: white;
  float: right;
  margin-bottom: 30px; }

.request-declined {
  background-color: #ff2727;
  border: none; }

.request-pending {
  background-color: #97BA24;
  border: none; }

.request-accepted {
  background-color: #46af2c;
  border: none; }

.request-image {
  width: 90px;
  height: 170px;
  border-radius: 3%;
  cursor: pointer; }

.request-image > a > p {
  text-align: center;
  text-shadow: 1px 1px 5px black; }
  .request-image > a > p:hover {
    text-decoration: none; }

.trade-modal-buttons {
  text-align: center; }

.modal-message {
  margin: 25px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center; }

.accept-button {
  background-color: #46af2c;
  border: none;
  color: white; }
  .accept-button:hover, .accept-button:active, .accept-button:focus {
    background-color: #368722;
    border: none;
    color: white; }

.modal-buttons {
  margin: 0px 10px; }

.clear-fix {
  clear: both; }

.owner-text {
  float: right;
  color: white;
  font-size: 1.25em;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: #2D2D2D; }

.owner-request-text {
  float: right;
  color: white;
  font-size: 1em; }

.status-text {
  border-radius: 5px;
  padding: 5px 10px;
  float: right;
  color: white;
  text-shadow: 1px 1px 5px black; }

.game-request-icon-caption {
  text-align: center; }

.summary {
  margin-left: 10px; }

.game-header {
  color: white;
  margin-bottom: 15px;
  margin-left: 10px; }

.add-game-button {
  float: right; }
  .add-game-button:active, .add-game-button:hover, .add-game-button:focus, .add-game-button:visited {
    background-color: #368722;
    border: none;
    color: white; }

.game-item {
  padding: 10px;
  cursor: pointer; }

.game-container {
  max-width: 100px;
  height: 190px;
  cursor: pointer; }

.game-browser {
  margin-bottom: 50px; }

.signup-page-image {
  background: url(62739aae92298c2019a2947b97894d16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.signup-title {
  background-color: black;
  margin-top: 0px;
  color: white;
  font-size: 8em;
  font-family: "Audiowide", cursive;
  margin-bottom: 100px;
  padding: 9px 24px 12px 25px;
  border-radius: 96px;
  border: 10px solid white; }

.signup-subtitle {
  color: white;
  font-family: "Exo 2", sans-serif;
  margin-top: -50px;
  font-size: 2.5em;
  margin-bottom: 100px; }

.submit-new-user-button {
  float: left;
  margin-bottom: 50px; }
  .submit-new-user-button:active, .submit-new-user-button:hover, .submit-new-user-button:focus, .submit-new-user-button:visited {
    background-color: #368722;
    border: none; }

.signup-button {
  float: right;
  margin-bottom: 50px; }

.login-button:active, .login-button:hover, .login-button:focus, .login-button:visited {
  background-color: #368722;
  border: none; }

@media (max-width: 575px) {
  .signup-title {
    font-size: 3em; }
  .signup-subtitle {
    text-align: center;
    font-size: 2em; }
  .signup-page-image {
    height: 325px; }
  .accept-button {
    width: 100px;
    font-size: 1em; }
  .welcome-message {
    text-align: center;
    float: none; } }

@media (max-width: 767px) and (min-width: 576px) {
  .signup-title {
    font-size: 4em; }
  .signup-subtitle {
    text-align: center; }
  .signup-page-image {
    height: 350px; } }
